<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${DEVOPS} Exadel Sandbox 2021</title>
</head>
<body>
    <h1>${DEVOPS} Exadel Sandbox 2021</h1>
    <h2>DEVOPS variable value is ${DEVOPS}</h1>
</body>
</html>
